ul.hrFooterMenu li{
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    margin-bottom: 5px;
    /*border: 1px solid #000; !* Рамка вокруг текста *!*/
    /*padding: 3px; !* Поля вокруг текста *!*/
}